.events-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  'form form form'
  'results results results';
}

.search-form {
    grid-area: form;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    'header header header'
    'zip radius type';
}

.search-form-header {
    grid-area: header;
}

#event-zip-code {
    grid-area: zip;
    width: 100%;
}

#event-zip-radius {
    grid-area: radius;
}

#event-type {
    grid-area: type;
}



.search-results {
    grid-area: results;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.results-header {
    grid-area: resultsheader;
}

.race-card {
    grid-area: racecard;
    margin-top: 40px;
}

.event-listings {
    padding-top: 8px;
}

.race-address, .signUp {
    margin-top: 20px;
}


