.search-form {
  grid-area: form;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
  'header header header'
  'zip radius type';
}

.search-form-header {
  grid-area: header;
  color: var(--text);
}

#event-zip-code {
  grid-area: zip;
  width: 100%;
}

#event-zip-radius {
  grid-area: radius;
}

#event-type {
  grid-area: type;
}

.search-results {
  grid-area: form;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 30px;
}

.race-card {
  margin-top: 20px;
  background-color: var(--dark);
  color: var(--primary);
  display: grid;
  align-items: space-between;
}

.event-listings {
  padding-top: 8px;
}

.race-details {
  margin-top: 30px;
}

.race-address {
  margin-top: 20px;
}

.signUp {
  margin-top: 10px;
}

.race-btn {
  background-color: #25274D !important;
  max-width: 50%;
}


/* Have sign up button for each race span the width of its container 100%. */
.ui-button {
  width: 100%;
}


