/* Website color schemes - http://blog.visme.co/website-color-schemes/ */
/* CSS Varibles - use variables if the css is repeated 
and can be reused in more than one place across the app. */
:root {
  --primary: #ddd;
  --dark: #29648A;
  --light: #fff;
  /* --shadow: 0 1px 5px rgba(104, 104, 104, 0.8); */
  --shadow: 0 1px 5px rgba(255, 254, 254, 0.8);
  --hover: #AAABB8;
  --text: #fff;
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7rem;
}

body {
  background: #25274D;
}

/*Sticky footer*/
.Site {
  /* display: flex; */
  min-height: 100vh;
  flex-direction: column;
}
  
.main-content-section {
  flex: 1;
  min-height: 60vh;
  margin-bottom: 65px;
  padding: 3rem;
}

/* Left and right margin added to each page. */
.entire-page {
  margin-right: 3rem;
  margin-left: 3rem;
}

/* CSS used for all buttons for consistency. */
.btn {
  background: var(--dark) !important;
  padding: 10px !important;
  border: 0 !important;
  text-transform: uppercase;
  box-shadow: var(--shadow);
}

/* CSS used when user hovers over a button in the app. */
.btn:hover {
  background: var(--hover) !important;
  color: var(--dark) !important;
  border: 1px solid var(--dark) !important;
}

/* CSS for the card UI elements used in the app. */
.card {
  background: var(--light) !important;
  box-shadow: var(--shadow) !important;
  text-align: center;
}

/* CSS for the form label elements on the page. */
label {
  color: var(--text);
  font-size: 1.2rem;
}

/* CSS for <small> text, such as "Required field" and form validation errors on forms. */
small {
  color: var(--text);
}

.login-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.login-text {
  color: var(--primary);
  text-align: center;
  display: grid;
  align-content: center;
  font-size: 18px;
}

.login {
  color: var(--primary);
  text-align: center;
  margin-top: 30px;
}

#loginImage {
  box-shadow: var(--shadow);
}

.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}

.auth-status {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-left: 3rem;
  padding-top: 1rem;
  padding-right: 3rem;
  grid-gap: 10px;
}

.logout {
  grid-column: 6 / 7;
}

.logout-btn {
  color: var(--primary);
}

.profile-info {
  color: var(--primary);
  grid-column: 1 / 3;
}

.profile-info img {
  border-radius: 50%;
  max-width: 100%;
  height: 40px;
  margin-left: 10px;
}

/* Media Queries */
@media(max-width: 861px) {
  .footer h1 {
    font-size: 22px;
  }

  .login-container {
    grid-template-columns: 1fr;
  }
}
