/* Main container for the blog page */
.blog-container {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  'main main sidebar'
  'main main sidebar'
}

/* Part of the page where the tmblr blog posts will be rendered. */
.main {
    grid-area: main;
    display: grid;
}

/* Container for blog entries */
.entries {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
}

/* CSS for each blog post that gets rendered to the page. */
.blog-post {
  background-color: var(--dark);
  margin-top: 20px;
  display: grid;
  grid-gap: 0px;
  box-shadow: var(--shadow);
  padding: 1rem;
  grid-template-columns: 1fr;
  grid-template-areas:
  'summary summary'
  'content tags'
  'button button';
}

/* CSS for blog image associated with blog post.*/
.tmblr-full {
    height: auto;
    margin: 0;
}

/* CSS for actual blog content */
.blog-content {
  grid-area: content;
  color: var(--primary);
}

.blog-summary {
  grid-area: summary;
  color: var(--primary);
}

/* Continue reading button - takes users away from site to the blog page on Tmblr. */
.read-more-btn {
  grid-area: button;
  background-color: #25274D !important;
}

/* Sidebar on blog page */
.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr;
}

/* About blog section in the sidebar */
.about-blog {
    background-color: var(--dark);
    margin-top: 20px;
    box-shadow: var(--shadow);
    padding: 1rem;
    color: var(--primary);
  }

  .tags {
    grid-area: tags;
  }

  /* CSS for blog tags */
  .blog-tag {
    color: var(--primary);
    padding: 5px;
    list-style-type: none;
  }

/* Media Query - 1080px screen or smaller */
@media(max-width: 1080px) {
  .about-blog h1, .blog-summary h1 {
    font-size: 22px;
  }
}

/* Media Query - 861px screen or smaller */
/* Blog page is one column with blogs stacked on top of one another. */
@media(max-width: 861px) {
  .blog-container {
    grid-template-areas:
    'sidebar sidebar sidebar'
    'main main main'
  }

  .blog-post {
    grid-template-areas:
    'summary summary'
    'content content'
    'tags tags'
    'button button';
  }

  .blog-content {
    font-size: 16px;
  }
}

