.races-container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-areas:
    'side header header'
    'side main main';
}

.races-header {
    grid-area: header;
    color: var(--primary);
    background-color: var(--dark);
    padding: 20px;
}

.side {
    grid-area: side;
}

.main {
    grid-area: main;
}

.race-content {
    background-color: var(--dark);
    color: var(--primary);
    padding: 20px;
    margin-top: 20px;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    'title title'
    'date date'
    'image text';
}

.race-post-title {
    grid-area: title;
}

.race-post-date {
    grid-area: date;
}

.race-post-image {
    grid-area: image;
    height: auto;
}

.race-post-text {
    grid-area: text;
    padding: 20px;
}

.share-story {
    background-color: var(--dark);
    color: var(--primary);
    padding: 20px;
}

.story-form-field {
    margin-top: 30px;
}

.story-btn {
    background-color:
}


