.races-container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-areas:
    'header main main'
    'side main main';
}

.races-header {
    grid-area: header;
    color: var(--primary);
    background-color: var(--dark);
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    margin: 0;
    margin-top: 20px;
    display: grid;
    align-content: center;
}

.side {
    grid-area: side;
}

.main {
    grid-area: main;
}

.race-content {
    background-color: var(--dark);
    color: var(--primary);
    padding: 20px;
    margin-top: 20px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    'title title'
    'author author'
    'date date'
    'text text';
}

.race-post-title {
    grid-area: title;
    margin: 0;
}

.race-post-author {
    grid-area: author;
    margin: 0;
    margin-top: 5px;
}

.race-post-date {
    grid-area: date;
    margin: 0;
}

.race-post-text {
    grid-area: text;
    margin: 0;
}

.remove-btn {
    background-color: red !important;
    color: var(--primary);
    margin-top: 20px;
}

.remove-btn:hover {
    background-color: green !important;
    color: var(--primary) !important;
}

.share-story {
    background-color: var(--dark);
    color: var(--primary);
    padding: 20px;
}

.story-form-field {
    margin-top: 30px;
}

.race-image {
    max-width: 100%;
    box-shadow: var(--shadow);
}

/* Media Query - 861px screen or smaller */
/* Races page is one column with content and form stacked on top of one another. */
@media(max-width: 861px) {
    .races-container {
        grid-template-columns: 1fr;
        grid-template-areas:
        'header header header'
        'side side side'
        'main main main';
    }

    .race-content {
        grid-template-columns: 1fr;
        grid-template-areas:
        'title'
        'date'
        'text';
    }

}


