.home-container {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
  'showcase showcase welcome'
  'showcase showcase developer';
}

img {
    max-width: 100%;
}

/* Showcase */
.showcase {
    grid-area: showcase;
    min-height: 400px;
    background: url(../../images/athlete.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
    color: #fff;
}

.showcase h1 {
    font-size: 4rem;
}

.showcase p {
    font-size: 1.3rem;
}

.developer {
    grid-area: developer;
}

.welcome {
    grid-area: welcome;
}

/* Media Queries */
@media(max-width: 700px) {
    .home-container {
      grid-template-areas:
      'showcase showcase showcase'
      'welcome welcome welcome'
      'developer developer developer';
    }
  }