/* Main container for the contact page. */
/* Will have two columns */
/* Contact content will be on the left and take up 3 fr units. */
/* Contact form will be on the right and take up 2 fr units. */
.contact-container {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 3fr 2fr 1fr;
  grid-template-areas:
  'content form form';
}

/* Contact content information will be on the left. */
.contact-content {
  grid-area: content;
  justify-content: center;
  align-content: center;
  color: var(--text);
}

/* Contact form */
.contact-form {
  grid-area: form;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  'name email'
  'subject subject'
  'message message'
  'button button'
  'success success';
}

/* Contact form - Name field */
#contact-name {
  grid-area: name;
}

/* Contact form - Email field */
#contact-email {
  grid-area: email;
}

/* Contact form - Subject field */
#contact-subject {
  grid-area: subject;
}

/* Subject field should span width of its container. */
#subject {
  width: 100%;
}

/* Contact form - Message field */
#contact-message {
  grid-area: message;
}

/* Fields should span width of container. */
.ui-inputtext {
  width: 100%;
}

/* Message field should span width of its container. */
.ui-inputtextarea {
    width: 100%;
}

/* Contact form - Submit/send button */
#contact-btn {
    grid-area: button;
}

.form-success-message {
  grid-area: success;
}

/* Media Query - 700px screen or smaller */
/* Contact page is one column with content and form stacked on top of one another. */
@media(max-width: 700px) {
  .contact-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      'content content content'
      'form form form';
  }

  /* Contact form - Fields are stacked on top of one another */
  .contact-form {
    grid-template-areas:
    'name name name'
    'email email email'
    'subject subject subject'
    'message message message'
    'button button button';
  }

  /* Fields should take up 100% width of their container */
  .ui-inputtext {
      width: 100%;
  }

  /* Contact form validation error styling */
  .contact-form-error {
    color: red !important;
  }
}