.blog-container {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  'main main sidebar'
  'main main sidebar'
}

.main {
    grid-area: main;
    display: grid;
    grid-template-areas: 
    'title title'
    'header header'
}

.page-title {
  grid-area: title;
  color: var(--primary);
}

.blog-header-image {
  grid-area: header;
  background: url(../../images/start_line.jpg);
  background-size: cover;
  background-position: center;
  min-height: 250px;
  box-shadow: var(--shadow);
}

.entries {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
}

.blog-post {
  background-color: var(--dark);
  margin-top: 30px;
  display: grid;
  grid-gap: 30px;
  box-shadow: var(--shadow);
  padding: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
  'image content'
  'image button';
}

.blog-image-div {
  grid-area: image;
}

.blog-image {
    border: 2px solid  #25274D;
}

.blog-content {
  grid-area: content;
  margin-top: 20px;
  color: var(--primary);
}

.read-more-btn {
  grid-area: button;
  background-color: #25274D !important;
}

.sidebar {
    grid-area: sidebar;
}

