.ui-panel-content {
    background-color: #000 !important;
    color: white !important;
    text-align: center;
}

.ui-panel-titlebar {
    text-align: center;
}

.footer{
    padding-left: 3rem;
    padding-right: 3rem;
}

