.ui-panel-content {
  background-color: var(--dark) !important;
  color: var(--text) !important;
  text-align: center;
}

.ui-panel-titlebar {
  text-align: center;
}

.footer{
  padding-left: 3rem;
  padding-right: 3rem;
}


