/* CSS Varibles  */
:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark) !important;
}

body {
  background: #fff;
}

/*Sticky footer*/
.Site {
    /* display: flex; */
    min-height: 100vh;
    flex-direction: column;
  }
  
  .main-content-section {
    flex: 1;
    min-height: 60vh;
    margin-bottom: 100px;
    margin-top: 10px;
    margin-right: 3rem;
    margin-left: 3rem;
    padding: 3rem;
  }

  .btn {
    background: var(--dark) !important;
    padding: 10px !important;
    border: 0 !important;
    text-transform: uppercase;
  }

  .btn:hover {
    background: var(--light) !important;
    color: var(--dark) !important;
  }

  .card {
    background: var(--light) !important;
    box-shadow: var(--shadow) !important;
    text-align: center;

  }
